# URL base do frontend Angular (homologação)
BASE_URL=https://homologcadastroweb.cpb.org.br/cadastro-geral-web

# URL base da API REST (homologação)
API_BASE_URL=https://homologcadastroweb.cpb.org.br/api/cadastro-api/v1

# Origin do Keycloak (usado nos testes cross-origin)
KEYCLOAK_ORIGIN=https://homologlogin.cpb.org.br
